@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.nome-pizzaria {
    font-family: 'Pacifico', cursive;
    color: darkorange!important;
}

.img-carrosel1 {
    object-fit: cover;
    height: 400px;
} 
.img-carrosel2 {
    object-fit: cover;
    height: 400px;
    object-position: 0 80%;
} 
.img-carrosel3 {
    object-fit: cover;
    height: 400px;
    object-position: 0 30%;
} 

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.cor-especial {
    color: darkorange;
}

.borda-cor-especial {
    border-color: darkorange;
}

.btn-cor-especial {
    background-color: darkorange;
}

.card-posicao-img {
    object-fit: cover;
    height: 200px;
}

.card-largura {
    max-width: 18rem;
}

#body {
    overflow-x: hidden;
}